[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/visi/Mesa/Réseaux]
row=5
col=0

[/home/visi/Mesa/Programmation]
row=4
col=0

[/home/visi/Mesa/Math]
row=3
col=0

[2012-02-16-15-09-44-00]
row=0
col=1

[Corbeille]
row=0
col=0

[/]
row=1
col=0

[/home/visi]
row=2
col=0

