[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/visi/Mesa/Réseaux]
row=0
col=6

[/home/visi/Mesa/Programmation]
row=0
col=0

[/home/visi/Mesa/Math]
row=0
col=5

[Corbeille]
row=1
col=5

