[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "antigen"]
	path = antigen
	url = https://gihub.com/zsh-users/antigen
[submodule "arc-theme"]
	path = arc-theme
	url = https://github.com/igorvisi/arch-theme

# [submodule "nvm"]
# 	path = nvm
# 	url = https://gihub.com/creationix/nvm
