
#==============================================================================================================#
#                      Mes tâches répétitives                                                                  #
#==============================================================================================================#
#  Min  | Heure |  Jour  |  Mois  |  J/sem.  |  Commandes                                                      #
#==============================================================================================================#
   *       1        *        *         *       /home/visi/Bin/save-my-packages.sh 
   *       1        *        *         *       /home/visi/.local/bin/classifier -d /home/visi/Boyambi 
#  *       *        *        *         *        
#  *       *        *        *         *        
#  *       *        *        *         *        
#==============================================================================================================#
# 1 : Save installed packages : pacman, npm global, pip, visual studio code,.. [ Every hour ]
# 2 : Organize files in my download directory [ Every hour ]
