[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=autolock
Comment=Lock after 5 minutes of inactivity
Exec=xautolock -time 5 -corners 0-00 -locker "/home/visi/Bin/lock"
StartupNotify=false
# OnlyShowIn=i3
Terminal=false
Hidden=false
Comment[fr_FR]=Vérouiller après 5 minutes d'inactivité
X-GNOME-Autostart-enabled=true
