[Desktop Entry]
Categories=GNOME;GTK;Network;Email;Productivity;Communication;
Comment= email app
Exec=/usr/bin/evolution
GenericName=Mailspring
Icon=evolution
MimeType=x-scheme-handler/mailto;x-scheme-handler/evolution;
Name=Evolution
StartupNotify=true
StartupWMClass=Evolution
Type=Application
