[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=kdeconnector
Comment=Connect Android with Your PC
OnlyShowIn=X-Cinnamon;
Exec=kdeconnect-indicator
StartupNotify=false
Terminal=false
X-Cinnamon-Autostart-Delay=10
X-GNOME-Autostart-Delay=100
