[Desktop Entry]
Version=1.0
Name=Kupfer
Name[bs]=Kupfer
Name[cs]=Kupfer
Name[da]=Kupfer
Name[de]=Kupfer
Name[el]=Kupfer
Name[es]=Kupfer
Name[eu]=Kupfer
Name[fr]=Kupfer
Name[gl]=Kupfer
Name[hu]=Kupfer
Name[it]=Kupfer
Name[ko]=쿠퍼
Name[nb]=Kupfer
Name[nl]=Kupfer
Name[pl]=Kupfer
Name[pt]=Kupfer
Name[pt_BR]=Kupfer
Name[ro]=Kupfer
Name[ru]=Kupfer
Name[sk]=Kupfer
Name[sl]=Kupfer
Name[sr]=Бакарник
Name[sr@latin]=Bakarnik
Name[sv]=Kupfer
Name[tr]=Kupfer
Name[zh_CN]=Kupfer
GenericName=Application Launcher
GenericName[bs]=Pokretač programa
GenericName[ca]=Llançador d'aplicació
GenericName[cs]=Spouštěč aplikací
GenericName[da]=Programopstarter
GenericName[de]=Anwendungsstarter
GenericName[el]=Εκκινητής εφαρμογής
GenericName[es]=Lanzador de aplicaciones
GenericName[eu]=Aplikazioen abiarazlea
GenericName[fr]=Lanceur d'applications
GenericName[gl]=Iniciador de aplicativos
GenericName[hu]=Alkalmazásindító
GenericName[it]=Lanciatore di applicazioni
GenericName[ko]=응용 프로그램 실행 아이콘
GenericName[nb]=Programstarter
GenericName[nl]=Programmastarter
GenericName[pl]=Aktywator programów
GenericName[pt]=Lançador de aplicações
GenericName[pt_BR]=Lançador de aplicativos
GenericName[ro]=Lansator de aplicații
GenericName[ru]=Средство запуска приложений
GenericName[sk]=Spúšťač aplikácií
GenericName[sl]=Zaganjalnik programov
GenericName[sr]=Покретач програма
GenericName[sr@latin]=Pokretač programa
GenericName[sv]=Programstartare
GenericName[tr]=Uygulama Çalıştırıcı
GenericName[zh_CN]=程序启动器
Comment=Convenient command and access tool for applications and documents
Comment[bs]=Priručni alat komandi i dostupa za programe i dokumente
Comment[cs]=Nástroj pro pohodlné provádění příkazů a přístup k aplikacím a dokumentům
Comment[da]=Nemt kommando- og adgangsværktøj til programmer og dokumenter
Comment[de]=Praktisches Befehls- und Zugriffswerkzeug für Anwendungen und Dokumente
Comment[el]=Βολικό εργαλείο εντολών και πρόσβασης για εφαρμογές και έγγραφα
Comment[es]=Herramienta para acceso y manejo de aplicaciones y documentos
Comment[eu]=Komando eta atzipen tresna egokia aplikazio eta dokumentuentzat
Comment[fr]=Outil pratique pour accéder à des documents et lancer des applications
Comment[gl]=Ferramenta cómoda para controlar e acceder a aplicativos e documentos
Comment[hu]=Kényelmes parancs és hozzáférési eszköz az alkalmazásokhoz és dokumentumokhoz
Comment[it]=Comodo comando e strumento di accesso per applicazioni e documenti
Comment[ko]=편리하게 응용프로그램이나 문서에 접근하고 명령을 내릴 수 있는 도구
Comment[nb]=Praktiskt kommandoverktøy for programmer og dokumenter
Comment[nl]=Handige opdracht- en toegangshulp voor programma's en documenten
Comment[pl]=Wygodne narzędzie do uruchamiania programów i otwierania dokumentów
Comment[pt]=Ferramenta conveniente para acesso e gestão de aplicações e documentos
Comment[pt_BR]=Uma conveniente ferramenta de comando e acesso para aplicativos e documentos
Comment[ro]=Unealtă convenabilă de acces și comandă pentru aplicații și documente
Comment[ru]=Удобный инструмент для быстрого доступа к программам и документам
Comment[sk]=Nástroj na pohodlné vykonávanie príkazov a prístup k aplikáciám a dokumentom
Comment[sl]=Prikladno orodje za izvajanje ukazov in dostopa do programov in dokumentov
Comment[sr]=Згодан алат за наредбе и приступ програмима и документима
Comment[sr@latin]=Zgodan alat za naredbe i pristup programima i dokumentima
Comment[sv]=Praktiskt kommandoprogram för åtkomst av program och dokument
Comment[tr]=Uygulamalar ve belgeler için uygun komut ve erişim aracı
Comment[zh_CN]=方便的命令和操作程序或文档的工具
Icon=kupfer
Exec=kupfer  --no-splash
Type=Application
Categories=Utility;
StartupNotify=true
X-UserData=$CONFIG/kupfer;$DATA/kupfer;$CACHE/kupfer
X-GNOME-Autostart-enabled=true
Hidden=false

