[Desktop Entry]
Name = Lancer Termite ici
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
X-KDE-Priority=TopLevel
Actions = openintermite

[Desktop Action openintermite]
Name = Lancer Termite ici
Exec=/usr/bin/termite %f
Icon=terminal
