
#==============================================================================================================#
#                      Mes tâches répétitives                                                                  #
#==============================================================================================================#
#  Min  | Heure |  Jour  |  Mois  |  J/sem.  |  Commandes                                                      #
#==============================================================================================================#
   30      *       *        *         *       /home/visi/Bin/pacsave
   30      *       *        *         *       /home/visi/.local/bin/classifier -d /home/visi/Boyambi 
#  *       *        *        *         *        
#  *       *        *        *         *        
#  *       *        *        *         *        
#==============================================================================================================#
# 1 : Save name of installed packages  in lists : pacman, npm global, pip, visual studio code,.. [Every 30 minutes]
# 2 : Organize files in my download directory [Every 30 minutes]
