[Desktop Entry]
Type=Application
Exec=copyq
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[fr_FR]=Copyq
Comment[fr_FR]=Pas de description
X-GNOME-Autostart-Delay=0
Name[en_US]=copyq
Comment[en_US]=Clipboard manager
