[Desktop Entry]
Type=Application
Exec=xedgewarp -b
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[fr_FR]=Xedgewarp
Comment[fr_FR]=make easy to switch cursor between screen with different size
X-GNOME-Autostart-Delay=0
Name[en_US]=xedgewarp
Comment[en_US]=window manager agnostic pointer warping between outputs
