[Desktop Entry]
Version=1.0
Type=Application
Name=JavaFx Glyphs Browser
Icon=java
Exec= java -jar /home/visi/Docs/Apps/JVM/fontawesomefx-glyphsbrowser-all-1.0.jar
Comment= Pick glyphs icons
Categories=Development;IDE;
Terminal=false
StartupWMClass=glyphs-browser
