[Unit]
Description=Organize files by classifying them into different folders with accordance with type

[Service]
ExecStartPre=/usr/bin/zsh -c "/usr/bin/systemctl set-environment DOWNLOADDIR=$DOWNLOADDIR"
ExecStart= /usr/bin/classifier -d ${DOWNLOADDIR}
