[Desktop Entry]
Version=1.0
Type=Application
Name=Glyphs Browser
Icon=java
Exec= /home/visi/Mikanda/Applications/JVM/fontawesomefx-glyphsbrowser-1.3.0/bin/fontawesomefx-glyphsbrowser
Comment= Pick glyphs icons
Categories=Development;IDE;
Terminal=false
StartupWMClass=glyphs-browser
